body{
    margin: 0;
    padding: 0;
    background-color: gray;
}

h2{
    color: blue;
}

.firstSection, .secondSection, .forthSection{
    width: 80vw;
    margin: auto;
}

.contractMe{
    margin-top: 5rem;
}

.thirdSection{
    /* background-color: yellow; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 3rem 0 3rem 0;
}
.thirdSection img {
    margin-bottom: 3rem;
    width: 15rem;
    border-radius: 100%;
}

.forthSection {
    display: flex;
    /* background-color: gray; */
}
.forthSection_leftSide{
    /* background-color: black; */
}

.forthSection_rightSide{
    /* margin: auto; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forthSection_rightSide_upperSection{
    margin: auto;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around
}

.forthSection_rightSide_underSection{
    margin: auto;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around
}

.forthSection_rightSide div{
    margin: 0 1rem 0 1rem;
}

.forthSection_rightSide_upperSection div, .forthSection_rightSide_underSection div {
    width: 60px;
}


