
body{
    margin: 0;
    padding: 0;
    background-color: #FFF2F2;
}

h2{
    color: blue;
}

.navSection, .firstSection, .secondSection, .forthSection, .firthSection, .firthSection{
    width: 80vw;
    margin: auto;
}

.contractMe{
    margin-top: 5rem;
}

.thirdSection{
    /* background-color: yellow; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 3rem 0 3rem 0;
}
.thirdSection img {
    margin-bottom: 3rem;
    width: 15rem;
    border-radius: 100%;
}

.forthSection{
    display: flex;
    /* background-color: gray; */
}
.forthSection_leftSide, .firthSection_leftSide{
    /* background-color: black; */
    width: 20%;
}

.forthSection_rightSide{
    /* margin: auto; */
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forthSection_rightSide_upperSection{
    margin: auto;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around
}

.forthSection_rightSide_underSection{
    margin: auto;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around
}

.forthSection_rightSide div{
    margin: 0 1rem 0 1rem;
}

.forthSection_rightSide_upperSection div, .forthSection_rightSide_underSection div {
    width: 60px;
}

.firthSection_rightSide{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.firthSection_rightSide div{
    margin: auto;
    margin-top: 1rem;
}

#footer{
    padding: 5% 10%;
    text-align: center;
    background-color: #fff;
}

#footer .footer-icon i{
    margin: 0 1% 0;
}

#footer p{
    padding-top: 2%;
}


